*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Inter', sans-serif;
}

header{
    width: 100%;
    background-color: rgb(36, 95, 232);
    padding-top: 1em;
}

.nav-header > img{
    vertical-align: middle;
}

.nav-header{
    width: 70%;
    position: relative;
    margin: auto;
}

nav{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

ul li{
    display: inline-block;
    margin: 0 0.5em;
}

 li a{
    text-decoration: none;
    color: white;
}

li a:hover{
    text-decoration: underline;
}

button{
    border-radius: 100px;
    margin-left: 0.5rem;

}
.nav-header button{
    padding: 0.5em 0.7em;
    border-radius: 100px;
    border: none;
    float: right;
}

.contenitori img{
    width: 100%;
}

section h1{
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.cont-img{
    width: 100%;
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    position: relative;
}

.testo-interno{
    width: 40%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
}

.testo-interno button{
    padding: 0.8rem 1.3rem;
    border: none;
    margin-top: 1rem;
}

.testo-interno button:last-child{
 
    background-color: black;
    color: white;
}

.contenitori{
    width: 100%;
    height: 600px;
    position: relative;
}

.grigi{
    background-color: rgb(246, 246, 246);
}

.con-interno{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.con-interno::after{
    content: "";
    display: table;
    clear: both;
}

.con-interno img{
    width: 60%;
}

.sinistra{
    float: left;
}

.destra{
    float: right;
}

.testo{
    width: 30%;
    text-align: center;
    display: inline-block;
    padding-top: 1rem;
}

h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.destro{
    float: right;
}

.sinistro{
    float: left;
}

.contenitore-ultimo-main{
    width: 100%;
    height: 900px;
    background-color: rgb(246, 246, 246);
    text-align: center;
}

.con-interno-ultimo{
    width: 60%;
    margin: auto;
    position: relative;
}

.testo-centrale{
    width: 90%;
    margin: auto;
    padding-top: 2rem;
}

.con-interno-ultimo-basso{
    width: 100%;
    position: relative;
    text-align: center;
}

.stelle{
    width: 370px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3{
    text-align: center;
    padding-top: 2rem;
}

.contenitore-ultimo-main button{
    padding: 0.7em 1.5em;
    border-radius: 100px;
    border: none;
    margin-top: 2rem;
    color: white;
    background-color: rgb(142, 161, 225);
}

footer{
    width: 100%;
    height: 600px;
    background-color: rgb(35, 39, 42);
    color: white;
    position: relative;
}

.con-principale-footer{
    width: 80%;
    height: 500px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social{
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

.social .margine{
    display: inline-block;
    margin: 1rem 0;
    font-size: 80%;
}

h4{
    font-size: 1.2rem;
    color: rgb(115, 136, 218);
}

.social img{
    width: 1.5rem;
    vertical-align: middle;
}

footer  div:first-child{
    display: inline-block;
}

div i{
    margin-right: 1rem;
}

.con-footer{
    width: 150px;
    display: inline-block;
    position: absolute;
}

.con-footer li{
    display: block;
    line-height: 1.8rem;
}

h5{
    font-size: 1rem;
    color: rgb(115, 136, 218);
}

.primo{
    top: 0;
    left: 250px;
}

.secondo{
    top: 0;
    left: 450px;
}

.terzo{
    top: 0;
    left: 650px;
}

.quarto{
    top: 0;
    left: 850px;
}

.footer-basso{
    background-color: rgb(115, 136, 218);
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 100px;
}

.footer-basso img{
    vertical-align: middle;
    margin-top: 20px;

}

.footer-basso button{
    padding: 0.5em 0.7em;
    float: right;
    margin-top: 20px;
}